
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/wwwroot/web/images/about_banner.jpg" alt="" />
            <img src="~/wwwroot/about.jpg" />
            <p>Lorem ipsum dolor
        </div>
    </div>
</div>

