@using Murat_Yucedag_Mvc5_TatilSeyahat_Sitesi.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string metn = string.Empty;
}

<h2>Blog listesi</h2>
<br />
@if (!(ViewBag.indexDetay is null))
{
    var detay = ViewBag.indexDetay as Dictionary<string, string>;
    metn = $"{detay["blogAdi"]} isimli blog {detay["blogStatusu"]}";
    <h4>@metn</h4>
}
<a href="/Admin/BlogDetail" class="btn btn-primary">Yeni Blog</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Sıra</th>
        <th>ID</th>
        <th>Başlık</th>
        <th>Güncelle</th>
        <th>Sil</th>
        <th>Detaylar</th>
    </tr>
    @{ int sira = 1;}
    @foreach (var blog in Model)
    {
        <tr>
            <td>@(sira++).</td>
            <td>@blog.ID</td>
            <td><a href="/Blog/BlogDetay/@blog.ID">@blog.Baslik</a></td>
            <td><a href="/Admin/BlogDetail/@blog.ID" class="btn btn-warning">Guncelle</a></td>
            <td><a href="/Admin/BlogSil/@blog.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/BlogDetail/@blog.ID" class="btn btn-default">Detaylar</a></td>
        </tr>
    }
</table>

