@*@model Murat_Yucedag_Mvc5_TatilSeyahat_Sitesi.Models.Siniflar.Yorumlar*@
<div class="content-form">
    <h3>Bir yorum yap</h3>
    <form method="post">
        <input type="hidden" placeholder="ID"             id="BlogID"       name="BlogID"       value="@ViewBag.BlogID" disabled />
        <input type="text"   placeholder="Kullanıcı adı"  id="KullaniciAdi" name="KullaniciAdi" required />
        <input type="text"   placeholder="Mail"           id="Mail"         name="Mail"         required />
        <textarea            placeholder="Yorum"          id="Yorum"        name="Yorum"        required></textarea>
        <input type="submit" value="Gönder" />
    </form>    
</div>
